
  // flex cards

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 200px; /* Ajusta el ancho de las tarjetas según tus necesidades */
}

.card-image {
  background-color: #f0f0f0;
  height: 150px;
}

.card-content {
  padding: 16px;

  p {
    margin: 0 0 8px;

    &:last-child {
      margin: 0;
    }

    strong {
      font-weight: bold;
    }
  }
}
