$hotRod-red: #a50000;
$captainAmerica-blue: #3268bd;
$mjolnirThor-gray: #999999;
$hawkeye-purple: #460061;

// $primary-color: #3498db;
// $secondary-color: #2ecc71;
// $gradient-start: #8e44ad;
// $gradient-end: #ecf0f1;