@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {

  min-height: 100vh;
  margin: 0;
  height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
