@if(character) {

<mat-card class="card" >
  <mat-card-header>
    <mat-card-title>{{ character.name }}</mat-card-title>
    <mat-card-subtitle
      >Last Modified: {{ character.modified.split("T")[0] }}</mat-card-subtitle
    >
  </mat-card-header>
  <img
    mat-card-image
    class="card-image"
    src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
  />
  <mat-card-content>
    <p>{{ character.description }}</p>

    <h2>Stories</h2>
    <section class="stories-section">
      <div>
        @for(story of character.stories.items.slice(0, 5); track story) {
        <p>{{ story.name }} - {{ story.type }}</p>
        }
      </div>
    </section>

    <!-- TODO: call the comics api ordered by saleDate and given the character -->
    <h2>Comics</h2>
    <section class="comics-section">
      <div class="comic-container">
        @if(comics) {
        
          @for(comic of comics; track comic) {
          <h3>{{ comic.title }}</h3>
          <p>Publish Date: {{ comic.dates[0].date }}</p>
          <img
            src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}"
          />
          }
        
        } @else {
        <mat-spinner></mat-spinner>
        }
      </div>
    </section>
  </mat-card-content>
</mat-card>

} @else {
<mat-spinner />
}
