@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:host {
  background-image: url("/images/characterbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}


.card {                   
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .card-image {
width: 15rem;
border-radius: 50px;

  }

  .stories-section div{
   text-align: center;
   
    
  }

  .comics-section {
    display: flex;
    flex-direction: row;


  }
  .comic-container{
    display: flex;
    flex-direction: column;
    margin: 10px;

    
  }
