<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Hero</mat-card-title>
    <mat-card-subtitle>Name</mat-card-subtitle>
    <mat-card-subtitle>Date</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    class="card-image"
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
  />
  <mat-card-content>
    <p>Description</p>

    <h2>Stories</h2>
    <section class="stories-section">
      <div>
        <p>Titles</p>
        <p>Titles</p>
        <p>Titles</p>
        <p>Titles</p>
        <p>Titles</p>
        <p>Titles</p>
      </div>
    </section>

    <h2>Comics</h2>
    <section class="comics-section">

      
      <div class="comic-container">
        <div>
          <p>Titles</p>
          <p>Date</p>
        </div>
          <img
            class="card-image"
            src="/images/shibaManga.jpg"
            alt="comic-image"
          />
        </div>

        <div class="comic-container">
          <div>
            <p>Titles</p>
            <p>Date</p>
          </div>
            <img
              class="card-image"
              src="/images/shibaManga.jpg"
              alt="comic-image"
            />
          </div>

          <div class="comic-container">
            <div>
              <p>Titles</p>
              <p>Date</p>
            </div>
              <img
                class="card-image"
                src="/images/shibaManga.jpg"
                alt="comic-image"
              />
            </div>

            <div class="comic-container">
              <div>
                <p>Titles</p>
                <p>Date</p>
              </div>
                <img
                  class="card-image"
                  src="/images/shibaManga.jpg"
                  alt="comic-image"
                />
              </div>

              <div class="comic-container">
                <div>
                  <p>Titles</p>
                  <p>Date</p>
                </div>
                  <img
                    class="card-image"
                    src="/images/shibaManga.jpg"
                    alt="comic-image"
                  />
                </div>
        
      

    </section>
  </mat-card-content>
</mat-card>
